.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 30%;

 .left {
    margin-bottom: 20px;

    h1 {
      font-size: 1rem;
      margin-left: 15%;
      
   
     .first-letter-blue {
        color: blue;
      }
     

    
    }
  }

 .right {
    p {
      font-size: 0.8rem;
      line-height: 1.6;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    

   .left {
      h1 {
        font-size: 1.6em;
          .inline-text span:first-child,
          .inline-text span:nth-child(3) {
          display: block;
        }
       }
      
    }

   .right {
      p {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 480px) {
   .left {
      h1 {
        font-size: 1.8rem;
      }
    }

   .right {
      p {
        font-size: 0.7rem;
      }
    }
  }
}
