@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  box-sizing: border-box;
}


.container-discover {
    background-color: white;
    color: black;
    padding: 20px;
    min-height: 100vh;
    text-align: center;

  h1 {
    color: #064576;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .section-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  
    .section {
      width: 30%;
      display: flex;
      flex-direction: column;
        img {
          height: 200px;
          width: 100%;
          object-fit: cover;
          border-radius: 50px;
        }
      
        h2 {
          font-weight: 600;
          font-size: 18px;
          line-height: 39px;
          color: #000000;
        }

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #000000;
          margin-bottom: 20px;
          text-indent: 0;
        }

        .read-more {
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          color: #0563AC;
          text-decoration: none;
          display: flex;
          align-items: center; // Aligne l'icône avec le texte
          justify-content: center; // Aligne le texte et l'icône horizontalement
          .icon {
            margin-left: 5px; // Espace entre le texte et l'icône
          }
        }
    }

  } 

      

}
  


