.dashboard {
  display: flex;

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    
    .dashboard-content {
      display: flex;
      flex-direction: column;
      
      .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 30px;
      }
    }
  }

  main {
    flex: 1; // Pour prendre tout l'espace disponible
    display: flex; // Afficher les éléments en flexbox
    flex-direction: column; // Disposition en colonne
    padding-top: 120px; // Ajustement pour tenir compte de la hauteur du header
    padding-left: 200px; // Ajustement pour tenir compte de la largeur de la sidebar
  }
}

@media (max-width: 1200px) {
  .dashboard .main-content .dashboard-content .cards {
    flex-direction: column;
    align-items: center;
  }

  main {
    padding-left: 0; // Réinitialiser le padding lorsque la largeur de l'écran est réduite
  }
}
