.app-password{
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center;
    margin-top: 12%;
    margin-left: 15%;
  }
  
  .input-group {
    display: grid;
    grid-template-columns: 200px 1fr; /* Ajustez la largeur fixe pour les étiquettes */
    gap: 30px;
    align-items: center;
  }
  
  .change-password {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Réduire le gap pour les champs individuels */
    width: 50vw;
  
    h3 {
      margin: 0;
      font-size: 14px;
      color: #0056b3;
      margin-bottom: 20px;
    }
  
    label {
      font-weight: 600;
      font-size: 14px; /* Ajustez si nécessaire */
    }
  
    input {
      padding: 10px; /* Réduire le padding */
      font-size: 11px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    .error {
      color: red;
      font-size: 12px;
    }
     
    .button-container {
      display: flex;
      justify-content: flex-end; /* Aligner le bouton à droite */
    }
  
    .update-button {
      padding: 10px; /* Réduire le padding */
      font-size: 14px;
      width: 10vw;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  