.chart {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 99%;
    height: 300px;
}

.recharts-cartesian-axis-tick-value {
    font-size: 0.7rem;
    color: #888888;
}
.custom-tooltip {
    background: #fff;
    border: 1px solid #ccc;
    font-size:5px ;
    border-radius: 5px;
}

.custom-tooltip .label {
    font-weight: 200;
}

.custom-tooltip .intro {
    margin-top: 5px;
}
