@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
  background-color: #ffff; 
  color: #333; 
}

.dark-mode {
  background-color: #161922 ; 
  color: #fff; 
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch .slider-thumb {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-switch .slider-thumb:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch input:checked + .slider-thumb {
  background-color: #2196F3;
}

.toggle-switch input:checked + .slider-thumb:before {
  transform: translateX(26px);
}


